<!-- footer section starts here  -->
<section class="sec-footer" id="footer">
    <div class="footer">
        <div class="f-social-links">
            <a href="">
                <i class="fa-brands fa-github f-social-icon f-github"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-facebook f-social-icon f-facebook"></i>
            </a>
            <a href="">
                <i class="fa-solid fa-envelope f-social-icon f-envelope"></i>
            </a>
        </div>
        <div class="f-links">
            <a href="">Privacy Policy</a>
            <a href="">Terms of Use</a>
        </div>
        <div class="copyright">
            <h5>All rights reserved. © Ahmad 2022</h5>
        </div>
    </div>
</section>
<!-- footer section end here  -->