    <!-- header starts here  -->
    <header>
        <div class="logo">
            <a href="/">
                <h2>A.</h2>
            </a>
        </div>

        <div class="header-nav">
            <!-- in 'href' attribues, 'id' of diff. sections are added for anchoring purpose on the webpage -->
            <nav class="nav-bar-left">
                <a href="/" class="nav-bar-item">Home</a>
                <a href="/about" class="nav-bar-item">About</a>
                <a href="/projects" class="nav-bar-item">Projects</a>
                <a href="/contact" class="nav-bar-item">Contact</a>
            </nav>

            <nav class="nav-bar-right">
                <a href="">
                    <i class="fa-brands fa-github n-b-right-icon"></i>
                </a>
            </nav>
        </div>
    </header>
    <!-- header end here  -->