<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>

    <link rel="stylesheet" href="home.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

<%- include('./header.ejs') %>

<!-- projects section starts  here  -->
<section class="sec-projects" id="projects">
    <h1 class="sec-heading">Projects</h1>

    <div class="projects each-sec-main-div-width">
        <div class="single-project">
            <div class="project-image">
                <img src="./images/computer-img.png" alt="">
            </div>
            <div class="project-txt">
                <h4>Project#1</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat aliquam aspernatur voluptate
                    harum praesentium. Rerum.</p>
                <a href="" class="txt-seemore">See More...</a>
            </div>
        </div>
        <div class="single-project">
            <div class="project-image">
                <img src="./images/computer-img.png" alt="">
            </div>
            <div class="project-txt">
                <h4>Project#1</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat aliquam aspernatur voluptate
                    harum praesentium. Rerum.</p>
                <a href="" class="txt-seemore">See More...</a>
            </div>
        </div>
        <div class="single-project">
            <div class="project-image">
                <img src="./images/computer-img.png" alt="">
            </div>
            <div class="project-txt">
                <h4>Project#1</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat aliquam aspernatur voluptate
                    harum praesentium. Rerum.</p>
                <a href="" class="txt-seemore">See More...</a>
            </div>
        </div>
        <div class="single-project">
            <div class="project-image">
                <img src="./images/computer-img.png" alt="">
            </div>
            <div class="project-txt">
                <h4>Project#1</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat aliquam aspernatur voluptate
                    harum praesentium. Rerum.</p>
                <a href="" class="txt-seemore">See More...</a>
            </div>
        </div>
        <div class="single-project">
            <div class="project-image">
                <img src="./images/computer-img.png" alt="">
            </div>
            <div class="project-txt">
                <h4>Project#1</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat aliquam aspernatur voluptate
                    harum praesentium. Rerum.</p>
                <a href="" class="txt-seemore">See More...</a>
            </div>
        </div>
    </div>

</section>
<!-- projects section end here  -->


    <%- include('./footer.ejs') %>

</body>

</html>
